<h1>Detalle de usuario</h1>
<h1><%= @user.name %></h1>
<p><%= @user.type_person %></p>
<p><%= @user.identification %></p>
<p><%= @user.email %></p>
<p><%= @user.main_phone %></p>
<p><%= @user.secondary_phone %></p>
<p><%= @user.issuance_date %></p>
<p><%= @user.expiration_date %></p>
